<portfolio.html>

.container-fluid {
  padding: 20px 20px 20px 20px;
}
.navbar-header {
  padding: 10px 20px 10px 20px;
  font-family: 'Crete Round', serif;
  font-size: 18px;
}

.bg-1 {
  background-color: #a98685;
  color: black;
  font-family: 'Crete Round', serif;
  font-size: 80px;
  margin-top: 0px;
}
#HeaderName{
margin-top: 30px;



}
.bg-2 {
  background-color: #474e5d;
  color: #ffffff;
  font-family: 'Crete Round', serif;
  padding-top: 50px;
  padding-bottom:50px;
}
.bg-3 {
  font-family: 'Crete Round', serif;
}

.bg-4{
  background-color: #302c2e;
  font-family: 'Crete Round', serif;
  color: white;
}

#profilepic {
  width: 230px;
  height: 250px;
  padding: 10px 5px 10px 5px;
}

.no-padding {
  padding: 0;
}

.section-heading {
  margin-top: 0;
}

.story {
  font-size: 22px;
  text-align: center;
}
